<!doctype html>
<html>
  
<head>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <title>Landing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="/static/divshot/themes/readable/bootstrap.min.css">
    <link rel="stylesheet" href="/static/divshot/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="/static/divshot/css/divshot-util.css">
    <link rel="stylesheet" href="/static/divshot/css/divshot-canvas.css"> 
</head>
  
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="brand" href="/">TUM</a>
                <div class="navbar-content">
                    <ul class="nav ">
                        <li class="active"> <a href="/">Home</a> </li>
                        <li> <a href="/ratings/">Label</a> </li>
                        <li> <a href="/monitor/">Monitor</a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="hero-unit align-center visible-desktop">
            <h2 class="align-center">Using crowd intelligence for online detection of emotional distress</h2>
            <p class="align-center">
                According to the World Health Organization, nearly one million people die from suicide every year, or one death every 40 second. As more and more young people tend to express their deeper feelings on the Web, we develop and present a surveillance and monitoring system of suicide. The system is based on machine learning techniques and crowd intelligence for mining emotional distress tendencies from publicly available blogs/tweets to identify needy people. The goal is to provide timely intervention and promote better public health.
                <br> 
            </p>
        </div>
        <div class="main-features visible-desktop row-fluid">
            <div class="span6">
                <div class="well align-center well-small">
                    <h3 class="align-center">
                        <a href="/ratings/">Label some stories</a> 
                    </h3>
                    <p class="align-center">Help us build training data!</p>
                </div>
            </div>
            <div class="span6">
                <div class="well align-center well-small">
                    <h3 class="align-center">
                        <a href="/monitor/">Monitor models</a> 
                    </h3>
                    <p class="align-center">View the current machine learning models</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>