.DS_Store
*.pyc

config.py
*.sqlite3

celerybeat-schedule

Capfile
config/
system/

Master.2011.pdf

# LaTeX
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz