{% extends "base.html" %}

{% block title %}
    {% if name %}
        Statistics for {{ name }}
    {% else %}
        Select a model
    {% endif %}
{% endblock %}
    
{% block scripts %}
    {% if name %}
        <script type="text/javascript">
        $(document).ready(function() {
            $("#chart").attr(
                "class",
                $("#chart").attr("class").replace("hidden", "").split(" ").filter(function (e) { return (e.length > 0) }).join(" ")
            );
            var plot = $.jqplot("chart", [eval($("#data").html())], {
                axes: {
                    xaxis: {
                        renderer: $.jqplot.DateAxisRenderer,
                        tickInterval: '15 days',
                        tickOptions: {
                            formatString: '%b %#d, %y',
                            fontSize: '10pt'
                        }
                    },
                    yaxis: {
                        min: 0,
                        max: 100
                    }
                },
                cursor: {
                    show: true,
                    zoom: true,
                    showTooltip: false
                },
                series: [{
                    color: 'red',
                    lineWidth: 1,
                    neighborThreshold: -1,
                    showMarker: true
                }]
            });
        });
        </script>
    {% endif %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="main">
        {% if messages %}
            {% for message in messages %}
                {% if message.tags %}
                    <div class="alert alert-{{ message.tags }}">
                {% else %}
                    <div class="alert alert-success">
                {% endif %}
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong> {{ message }} </strong>
                    </div>
            {% endfor %}
        {% endif %}

        {% if name %}
            <h3> {{ name }} </h3>
        {% else %}
            <h3>Select a model</h3>
        {% endif %}

        <!-- Hidden element to store raw data -->
        <div class="hidden" id="data"> {{ data }} </div>

        <!-- Plots go here -->
        <div class="placeholder hidden" id="chart"> </div>
            
        <hr/>
        <!-- Models -->
        <a class="btn btn-link" href="/monitor/svm/">SVM</a> |
        <a class="btn btn-link" href="/monitor/bagging/">Bagging</a> |
        <a class="btn btn-link" href="/monitor/boosting/">Boosting</a> |
        <a class="btn btn-link" href="/monitor/stacking/">Stacking</a>
        
        <hr/>
        <!-- Footer options -->
        <a class="btn btn-link" href="/">Go Home</a> |
        <a class="btn btn-link" href="/monitor/train/">Train Models</a> |
        <a class="btn btn-link" href="/monitor/fetch/">Fetch Tweets</a> |
        <a class="btn btn-link" href="/monitor/update_stats/">Update Statistics</a>
    </div>
</div>
{% endblock %}
