{% extends "base.html" %}

{% block title %}
    {% if name %}
        Monitoring {{ name }}
    {% else %}
        Select a model
    {% endif %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
            <!-- Sidebar content -->
            <a class="btn btn-link" href="/monitor/svm/">SVM</a> <br/>
            <a class="btn btn-link" href="/monitor/bagging/">Bagging</a> <br/>
            <a class="btn btn-link" href="/monitor/boosting/">Boosting</a> <br/>
            <a class="btn btn-link" href="/monitor/stacking/">Stacking</a> <br/>
        </div>

        <div class="span10">
            <!-- Main content -->
            {% if name %}
                <h3> {{ name }} </h3>
            {% else %}
                <h3>Select a model from the left</h3>
            {% endif %}
            <hr/>
            <a href="/" class="btn btn-link">Go Home</a> |
            <a href="/monitor/train/" class="btn btn-link">Train models</a> |
            <a href="/monitor/fetch/" class="btn btn-link">Fetch tweets</a> |
            <a href="/monitor/update_stats" class="btn btn-link">Update Statistics</a>
        </div>
    </div>
</div>
{% endblock %}
