<!doctype html>
<html>
  
<head>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/highstock.js"></script>
    <script type="text/javascript" src="/static/js/exporting.js"></script>
    {% if name %} <script type="text/javascript" src="/static/js/monitor.js"></script> {% endif %}
    <title>Monitor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="/static/divshot/themes/readable/bootstrap.min.css">
    <link rel="stylesheet" href="/static/divshot/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="/static/divshot/css/divshot-util.css">
    <link rel="stylesheet" href="/static/divshot/css/divshot-canvas.css"> 
</head>
  
<body>
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="/">TUM</a>
                <div class="navbar-content">
                    <ul class="nav">
                        <li> <a href="/">Home</a> </li>
                        <li> <a href="/ratings/">Label</a> </li>
                        <li class="active"> <a href="/monitor/">Monitor</a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3">
                <ul class="nav nav-pills nav-stacked">
                    <li {% if name != "svm" %} class="active" {% endif %}>
                        <a href="/monitor/svm/">SVM</a> 
                    </li>
                    <li {% if name != "bagging" %} class="active" {% endif %}>
                        <a href="/monitor/bagging/">Bagging</a> 
                    </li>
                    <li {% if name != "boosting" %} class="active" {% endif %}>
                        <a href="/monitor/boosting/">Boosting</a> 
                    </li>
                    <li {% if name != "stacking" %} class="active" {% endif %}>
                        <a href="/monitor/stacking/">Stacking</a> 
                    </li>
                </ul>
                {% if name %}
                <div class="well">
                    <p>
                        Level of emotional distress (in %) on Twitter, as predicted by a
                        {% if name == "svm" %}Support Vector Machine {% else %} {{ name|capfirst }} {% endif %} classifier
                    </p>
                    <br/>
                    <p>(Classifiers are auto updated every 24 hours)</p>
                </div>
                {% else %}
                <div class="well">
                    <p>Choose one of the models from above to see individual performances.</p>
                </div>
                {% endif %}
            </div>
            <div class="span9">
                <div class="hero-unit align-center">
                    {% if name %}
                    <div id="chart" class="placeholder"></div>
                    {% else %}
                    {% if tweets|length > 0 %}
                    <p>The following tweets might be depressed</p>
                    {% for tweet in tweets %}
                    <blockquote class="twitter-tweet" data-conversation="none" align="center">
                        <p>{{ tweet.text }}</p>
                        &mdash; (@{{ tweet.username }})
                        <a href="https://twitter.com/{{ tweet.username }}/status/{{ tweet.tweet_id }}">{{ tweet.tweet_text }}</a>
                        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </blockquote>
                    {% endfor %}
                    {% else %}
                    <p>No tweets seem to be labelled as depressed yet.</p>
                    {% endif %}
                    {% endif %}
                </div>
                <div class="row-fluid"></div>
            </div>
        </div>
    </div>
    <div class="hidden" id="data"> {{ data }} </div>
    <div class="hidden" id="labelled_tweets"> {{ labelled_tweets }} </div>
</body>

</html>