{% extends "base.html" %}

{% block title %}
Label some content
{% endblock %}

{% block content %}
<div class="container-narrow">
    <div class="main">
        {% if error_message %}
            <h1 class="text-error">{{ error_message }}</h1>
        {% else %}
            <h1> {{ story.content }} </h1>
            <hr/>
            <form action="/ratings/{{ story.id }}/rate/" method="post">
                {% csrf_token %}
                <button name="label" type="submit" class="btn btn-warning" value="depressed">This sounds depressed</button>
                <button name="label" type="submit" class="btn btn-success" value="happy">This sounds happy</button>
            </form>
        {% endif %}
        <hr/>
        <a href="/" class="btn btn-link">Go Home</a> | <a href="/ratings/fetch" class="btn btn-link">Fetch more stories</a>
    </div>
</div>
{% endblock %}
