<!doctype html>
<html>
  
<head>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <title>Ratings</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="/static/divshot/themes/readable/bootstrap.min.css">
    <link rel="stylesheet" href="/static/divshot/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="/static/css/ratings.css">
    <link rel="stylesheet" href="/static/divshot/css/divshot-util.css">
    <link rel="stylesheet" href="/static/divshot/css/divshot-canvas.css"> 
</head>
  
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="brand" href="/">TUM</a>
                <div class="navbar-content">
                    <ul class="nav ">
                        <li> <a href="/">Home</a> </li>
                        <li> <a href="/about/">About</a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    {% if error_message %}
    <div class="alert align-center">
        <b>{{ error_message }}</b>
    </div>
    {% endif %}
    
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} align-center">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <b>{{ message }}</b>
    </div>
    {% endfor %}
    {% endif %}
    
    {% if story %}
    <div class="container">
        <h2 class="align-center">{{ story.content }}</h2>
    </div>
    <form action="/ratings/{{ story.id }}/rate/" method="post">
        {% csrf_token %}
        <div class="form-actions align-center">
            <button name="label" type="submit" class="btn btn-danger btn-large" value="depressed">This seems depressed</button>
            <button name="label" type="submit" class="btn btn-success btn-large" value="happy">This is not depressed</button>
        </div>
    </form>
    {% endif %}
    <div class="align-center">
        <a class="btn btn-link btn-large" href="/ratings/fetch/">Fetch More Stories</a> 
    </div>
</body>

</html>